.right-container{
    width: 395px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    border-left:1px solid rgba(230, 230, 230, 1);
    padding: 40px 32px 0 ;
    .right-btn{
        width: 100%;
        padding: 7px 16px 9px;
        background-color: #191919;
        color: White;
        font-size: 14px;
        line-height: 20px;
        border-radius: 99em;
        margin-bottom: 100px;

    }
    p{
        font-size: 55px;
        text-align: center;
    }
}